/* welcome.css */

.welcome-container {
  text-align: center;
  margin: 100px auto;
  padding: 50px;
  background-color: rgba(34, 34, 40, 1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.welcome-header {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgba(154, 198, 30, 1);
}

.welcome-text {
  font-size: 18px;
  color: white;
}

.welcome-button {
  background-color: rgba(154, 198, 30, 1);
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.welcome-button:hover {
  background-color: rgba(153, 198, 30, 0.8);
}
